<nav class="sidebar-navigation">
	<ul class="p-0">
		<li class="active">
			<a href="#">
				<i class="fa fa-tachometer" aria-hidden="true"></i>
				<span class="tooltip">Dashboard</span>
			</a>
		</li>
		<li>
			<a href="tableUser">
				<i class="fa fa-users" aria-hidden="true"></i>
				<span class="tooltip">Users</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-envelope" aria-hidden="true"></i>
				<span class="tooltip">Contacts</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-bar-chart" aria-hidden="true"></i>
				<span class="tooltip">Statistical</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-cog" aria-hidden="true"></i>
				<span class="tooltip">Settings</span>
			</a>
		</li>
	</ul>
</nav>