@inherits Services.AccountService

<div class="menu-container">
    <ul class="menu">
        <li title="home"><a href="#" class="menu-button home">menu</a></li>
        <li title="search"><a href="#" class="search">search</a></li>
        <li title="settings"><a href="#" class="settings">settings</a></li>
        <li title="contact"><a href="#" class="contact">contact</a></li>
        <li title="language"><a href="#" class="active language">language</a></li>
        <li title="logout"><a href="#" class="logout" @onclick="() => Logout()">logout</a></li>
    </ul>
</div>

