<div class="container">
    <ul>
        <li><a class="hover customBorder" href="#">Trang chủ</a></li>
        <li><a class="hover customBorder" href="#">Giới thiệu</a></li>
        <li><a class="hover customBorder" href="#">Tin tức - Sự kiện</a></li>
        <li><a class="hover customBorder" href="#">Nhà đầu tư</a></li>
        <li><a class="hover">Tuyển dụng</a></li>
        <li><div class="form-search">
            <input type="text" placeholder="Tìm kiếm"/>
            <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        </div></li>
    </ul>
</div>