@page "/"
@layout HomePageLayout

<PageTitle>Vietcombank</PageTitle>

<div class="main">
    <Menu></Menu>

	<div class="container">
		<div class="header-customer">
			<div class="logo">
				<a href="#"><img width="220" height="70" src="https://cdn.haitrieu.com/wp-content/uploads/2022/02/Logo-Vietcombank.png" /></a>
			</div>
			<div class="menu-wrap">
				<ul class="menu">
					<li><a href="personal"><i class="fa fa-user" aria-hidden="true"></i> Khách hàng cá nhân <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
					<li class="menu-item"><a href="personal"><i class="fa fa-handshake-o" aria-hidden="true"></i> Khách hàng tổ chức <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
					<li class="menu-item"><a href="personal"><svg fill="#000000" width="24px" height="24px" viewBox="-2 -4 24 24" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" class="jam jam-crown"><path d='M2.776 5.106L3.648 11h12.736l.867-5.98-3.493 3.02-3.755-4.827-3.909 4.811-3.318-2.918zm10.038-1.537l-.078.067.141.014 1.167 1.499 1.437-1.242.14.014-.062-.082 2.413-2.086a1 1 0 0 1 1.643.9L18.115 13H1.922L.399 2.7a1 1 0 0 1 1.65-.898L4.35 3.827l-.05.06.109-.008 1.444 1.27 1.212-1.493.109-.009-.06-.052L9.245.976a1 1 0 0 1 1.565.017l2.005 2.576zM2 14h16v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z'/></svg>
					Khách hàng ưu tiên <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<a class="hot-line">
				<span class="icon"><img src="https://cdn-icons-png.flaticon.com/128/3059/3059606.png"/></span>
				<p>
					<span class="text1">Dịch vụ khách hàng 24/7</span>
					<b class="text2">1900 54 54 13</b>
				</p>
			</a>
		</div>
	</div>

	<div class="container">
		<section class="slider">
			<a href="https://portal.vietcombank.com.vn/Personal/CTKM/pages/chuong-trinh-khuyen-mai.aspx?itemID=776&amp;devicechannel=default"></a>
			<div class="inner-slider">
			</div>
		</section>

		<section class="news-home">
			<div class="row">
				<div class="col-lg-9">
					<nav class="mb-2">
						<div class="nav nav-tabs">
							<a class="nav-item nav-link active" id="khuyen-mai-tab" data-bs-toggle="tab" href="khuyen-mai" role="tab" aria-controls="khuyen-mai" aria-selected="true">Khuyến mại</a>
							<a class="nav-item nav-link" id="khuyen-mai-tab" data-bs-toggle="tab" href="khuyen-mai" role="tab" aria-controls="khuyen-mai" aria-selected="false">Khuyến mại</a>
							<a class="nav-item nav-link" id="khuyen-mai-tab" data-bs-toggle="tab" href="khuyen-mai" role="tab" aria-controls="khuyen-mai" aria-selected="false">Khuyến mại</a>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade active show" id="khuyen-mai" role="tabpanel" aria-labelledby="khuyen-mai-tab">
							<div class="inner-tab row m-0">
								<div class="owl-stage-outer">
									<div class="owl-stage">
										<div class="owl-item cloned">
											<div class="col-lg-12 p-0">
												<div class="item-blog">
													<a href="#">
														<img src="https://portal.vietcombank.com.vn/content/personal/KhoAnh/Anh%20CTKM/CTKM%2060%20nam%20VCB/Tuan%20le%20sinh%20nhat/banner%20website%20600_250.jpg?RenditionID=3" />
														<h4 class="title">
															Tuần lễ sinh nhật Vietcombank - Giao dịch là có quà
														</h4>
													</a>
												</div>
											</div>
										</div>
										<div class="owl-item cloned">
											<div class="col-lg-12 p-0">
												<div class="item-blog">
													<a href="#">
														<img src="https://portal.vietcombank.com.vn/content/personal/KhoAnh/Anh%20CTKM/CTKM%2060%20nam%20VCB/Tuan%20le%20sinh%20nhat/banner%20website%20600_250.jpg?RenditionID=3" />
														<h4 class="title">
															Tuần lễ sinh nhật Vietcombank - Giao dịch là có quà
														</h4>
													</a>
												</div>
											</div>
										</div>
										<div class="owl-item cloned">
											<div class="col-lg-12 p-0">
												<div class="item-blog">
													<a href="#">
														<img src="https://portal.vietcombank.com.vn/content/personal/KhoAnh/Anh%20CTKM/CTKM%2060%20nam%20VCB/Tuan%20le%20sinh%20nhat/banner%20website%20600_250.jpg?RenditionID=3" />
														<h4 class="title">
															Tuần lễ sinh nhật Vietcombank - Giao dịch là có quà
														</h4>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="read-more">
							@*	a*@
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="widget login-ibanking isHome box-ibanking-2021">
						<div class="buttons text-center">
							<a href="login" class="button button-signup">Đăng nhập</a>
							<a href="register" class="button button-login">Đăng ký</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<footer>
		<div class="ft-control">
			<div class="container d-flex">
				<a href="javascript:;" class="expand-footer">
					Chỉ mục trang
					<i class="fa fa-angle-down" aria-hidden="true"></i>
				</a>
				<a href="javascript:;" class="go-to-top">
					Về đầu trang 
					<i class="fa fa-angle-up" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="toggle-footer">
			<div class="box-link-icon">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-7 col-xl-9">
							<div class="row">
								<div class="col-12 col-md-6 col-xl-3">
									<div class="footer-link">
										<h5 class="footer-link-title">
											LIÊN HỆ
										</h5>
										<ul class="list-link">
											<li class="link-item">
												<a href="tel:1900545413" class="link">
													<i class="icon ic_phone"></i>
													1900 54 54 13
												</a>
											</li>
										
												<li class="link-item">
													<a href="/Personal/Pages/Co-che-to-giac.aspx" class="link" style="white-space: nowrap;">
														<i class="icon ic_email"></i>
														Cơ chế tố giác
													</a>
												</li>
										
												<li class="link-item"><a class="link" href="/EmailLienHe/Contact.aspx"><i class="icon ic_email"></i> Email liên hệ</a></li>
												<li class="link-item"><a class="link" href="/Personal/Pages/branch-support-number.aspx"><i class="icon ic_phone"></i> SĐT hỗ trợ của Chi nhánh</a></li>
										
										</ul>
									</div>
								</div>
							
									<div class="col-12 col-md-6 col-xl-3" id="box-footer-1">
										<div class="footer-link">
											<h5 class="footer-link-title">
												Tìm Vietcombank
											</h5>
											<ul class="list-link">
										
												<li class="link-item ">
													<a href="/mang-luoi/Pages/diematm.aspx" class="link">
														<i class="icon" style="background-image: url(/content/PublishingImages/1.png); background-size: 98%;"></i>
														Điểm đặt ATM
													</a>
												</li>
										
												<li class="link-item ">
													<a href="/mang-luoi/Pages/diemgiaodich.aspx" class="link">
														<i class="icon" style="background-image: url(/content/PublishingImages/2.png); background-size: 98%;"></i>
														Điểm giao dịch
													</a>
												</li>
										
												<li class="link-item ">
													<a href="/mang-luoi/Pages/diem-mua-ban-ngoai-te.aspx" class="link">
														<i class="icon" style="background-image: url(/content/PublishingImages/3.png); background-size: 98%;"></i>
														Điểm mua bán ngoại tệ tiền mặt
													</a>
												</li>
										
											</ul>
										</div>
									</div>
							
									<div class="col-12 col-md-6 col-xl-3" id="box-footer-5">
										<div class="footer-link">
											<h5 class="footer-link-title">
												Thông tin
											</h5>
											<ul class="list-link">
										
												<li class="link-item w-50">
													<a href="/Personal/TG/Pages/ty-gia.aspx" class="link">
														<i class="icon" style="background-image: url(/content/PublishingImages/4.png); background-size: 98%;"></i>
														Tỷ giá
													</a>
												</li>
										
												<li class="link-item w-50">
													<a href="/LS/Pages/lai-suat.aspx" class="link">
														<i class="icon" style="background-image: url(/content/PublishingImages/5.png); background-size: 98%;"></i>
														Lãi suất
													</a>
												</li>
										
												<li class="link-item w-50">
													<a href="/BP/Pages/bieu-phi.aspx" class="link">
														<i class="icon" style="background-image: url(/content/PublishingImages/6.png); background-size: 98%;"></i>
														Biểu phí
													</a>
												</li>
										
												<li class="link-item w-50">
													<a href="/BM/Pages/bieu-mau.aspx" class="link">
														<i class="icon" style="background-image: url(/content/PublishingImages/7.png); background-size: 98%;"></i>
														Biểu mẫu
													</a>
												</li>
										
												<li class="link-item w-100">
													<a href="/FAQs/Pages/hoi-dap-ca-nhan.aspx" class="link">
														<i class="icon" style="background-image: url(/content/CTKM/The/i-hoidap.png); background-size: 98%;"></i>
														Câu hỏi thường gặp
													</a>
												</li>
										
												<li class="link-item w-100">
													<a href="/Personal/Pages/Tuyen-bo-tuan-thu.aspx" class="link">
														<i class="icon" style="background-image: url(/content/PublishingImages/11.png); background-size: 98%;"></i>
														Tuyên bố tuân thủ
													</a>
												</li>
										
											</ul>
										</div>
									</div>
							
									<div class="col-12 col-md-6 col-xl-3" id="box-footer-10">
										<div class="footer-link">
											<h5 class="footer-link-title">
												Công cụ tính toán
											</h5>
											<ul class="list-link">
										
												<li class="link-item ">
													<a href="/Personal/deposit/Pages/ho-tro-chuyen-doi-ngoai-te.aspx" class="link">
														<i class="icon" style="background-image: url(/content/PublishingImages/8.png); background-size: 98%;"></i>
														Chuyển đổi ngoại tệ
													</a>
												</li>
										
												<li class="link-item ">
													<a href="/Personal/deposit/Pages/ho-tro-tinh-lich-tra-no.aspx" class="link">
														<i class="icon" style="background-image: url(/content/PublishingImages/9.png); background-size: 98%;"></i>
														Tính lịch trả nợ
													</a>
												</li>
										
												<li class="link-item ">
													<a href="/Personal/deposit/Pages/tinh-tien-lai-uoc-tinh.aspx" class="link">
														<i class="icon" style="background-image: url(/content/PublishingImages/10.png); background-size: 98%;"></i>
														Tính lãi tiết kiệm
													</a>
												</li>
										
											</ul>
										</div>
									</div>
							
							</div>
						</div>
						<div class="col-12 col-md-5 col-xl-3">
						
								<div class="support-chat ibooking">
									<a href="https://booking.vietcombank.com.vn/">
										<i class="icon ic_booking"></i>
										<span>ĐẶT LỊCH HẸN</span>
									</a>
								</div>
								<div class="support-chat">
									<a href="https://docs.google.com/forms/d/e/1FAIpQLSeOI5DvJ7toHY4UAGYsieFNIYbJtymKkjYAjTS2E1VRJ57z-g/viewform?usp=sf_link">
										<i class="icon ic_chat"></i>
										<span>KHẢO SÁT Ý KIẾN</span>
									</a>
								</div>
							
						
						</div>
					</div>
				</div>
			</div>
			<div class="container box-list-link">
				<div class="row">
					<div class="col-12 col-xl-9">
						<div class="row">
						
									<div class="col-12 col-md-4 col-xl-3">
										<div class="footer-link">
											<h5 class="footer-link-title">
												Khách hàng cá nhân
											</h5>
											<ul class="list-link">
											
													<li class="link-item">
														<a href="/Personal/CTKM/Pages/home.aspx" class="link">
															Chương trình khuyến mại
														</a>
													</li>
											
													<li class="link-item">
														<a href="/Personal/Card/Pages/home.aspx" class="link">
															Thẻ
														</a>
													</li>
											
													<li class="link-item">
														<a href="/Personal/deposit/Pages/Home.aspx" class="link">
															Tiết kiệm
														</a>
													</li>
											
													<li class="link-item">
														<a href="/Personal/Loan/Pages/Home.aspx" class="link">
															Cho vay cá nhân
														</a>
													</li>
											
													<li class="link-item">
														<a href="/Personal/MoneyTransfer/Pages/Home.aspx" class="link">
															Chuyển và nhận tiền
														</a>
													</li>
											
													<li class="link-item">
														<a href="/Personal/OnlineBanking/Pages/Home.aspx" class="link">
															Ngân hàng điện tử
														</a>
													</li>
											
													<li class="link-item">
														<a href="/Personal/Bancassurance/Pages/Home.aspx" class="link">
															Bancassurance
														</a>
													</li>
											
													<li class="link-item">
														<a href="/Personal/Investment/Pages/Home.aspx" class="link">
															Đầu tư
														</a>
													</li>
											
											</ul>
										</div>
									</div>
								
									<div class="col-12 col-md-4 col-xl-3">
										<div class="footer-link">
											<h5 class="footer-link-title">
												Khách hàng tổ chức
											</h5>
											<ul class="list-link">
											
													<li class="link-item">
														<a href="/Corporate/Financial/Pages/home.aspx" class="link">
															Định chế tài chính
														</a>
													</li>
											
													<li class="link-item">
														<a href="/Corporate/BusinessCustomers/Pages/home.aspx" class="link">
															Khách hàng doanh nghiệp lớn
														</a>
													</li>
											
													<li class="link-item">
														<a href="/Corporate/SMEs/Pages/home.aspx" class="link">
															Khách hàng doanh nghiệp vừa và nhỏ
														</a>
													</li>
											
											</ul>
										</div>
									</div>
								
									<div class="col-12 col-md-4 col-xl-3">
										<div class="footer-link">
											<h5 class="footer-link-title">
												Giới thiệu
											</h5>
											<ul class="list-link">
											
													<li class="link-item">
														<a href="/About/LSPT/Pages/Qua-trinh-hinh-thanh-va-phat-trien.aspx" class="link">
															Lịch sử phát triển
														</a>
													</li>
											
													<li class="link-item">
														<a href="/About/CCBMQL/Pages/Hoi-dong-quan-tri.aspx" class="link">
															Cơ cấu bộ máy quản lý
														</a>
													</li>
											
													<li class="link-item">
														<a href="/About/SMVTN/Pages/su-menh-va-tam-nhin.aspx" class="link">
															Tầm nhìn và mục tiêu chiến lược
														</a>
													</li>
											
													<li class="link-item">
														<a href="/About/GTCLCTH/Pages/gia-tri-cot-loi-cua-thuong-hieu.aspx" class="link">
															Giá trị cốt lõi của thương hiệu
														</a>
													</li>
											
													<li class="link-item">
														<a href="/About/BSVH/Pages/ban-sac-van-hoa.aspx" class="link">
															Bản sắc văn hóa
														</a>
													</li>
											
													<li class="link-item">
														<a href="/About/TTGT/Pages/Trong-nuoc.aspx" class="link">
															Thành tựu và giải thưởng
														</a>
													</li>
											
											</ul>
										</div>
									</div>
								
									<div class="col-12 col-md-4 col-xl-3 d-none d-xl-block">
										<div class="footer-link">
											<h5 class="footer-link-title">
												Nhà đầu tư
											</h5>
											<ul class="list-link">
											
													<li class="link-item">
														<a href="/Investors/Pages/chi-tiet-nha-dau-tu.aspx?ItemID=1090" class="link">
															Đại hội cổ đông
														</a>
													</li>
											
													<li class="link-item">
														<a href="/Investors/Pages/chi-tiet-nha-dau-tu.aspx?ItemID=1089" class="link">
															Điều lệ, quy chế
														</a>
													</li>
											
													<li class="link-item">
														<a href="/Investors/Pages/chi-tiet-nha-dau-tu.aspx?ItemID=1087" class="link">
															Báo cáo tài chính
														</a>
													</li>
											
													<li class="link-item">
														<a href="/Investors/Pages/chi-tiet-nha-dau-tu.aspx?ItemID=1086" class="link">
															Báo cáo thường niên
														</a>
													</li>
											
													<li class="link-item">
														<a href="/Investors/Pages/chi-tiet-nha-dau-tu.aspx?ItemID=3557" class="link">
															Tài liệu dành cho nhà đầu tư
														</a>
													</li>
											
													<li class="link-item">
														<a href="/Investors/Pages/chi-tiet-nha-dau-tu.aspx?ItemID=1085" class="link">
															Báo cáo quản trị
														</a>
													</li>
											
													<li class="link-item">
														<a href="/Investors/Pages/chi-tiet-nha-dau-tu.aspx?ItemID=1083" class="link">
															Thông báo, thông tin khác
														</a>
													</li>
											
													<li class="link-item">
														<a href="/Investors/Pages/chi-tiet-nha-dau-tu.aspx?ItemID=2676" class="link">
															Báo cáo xếp hạng tín nhiệm
														</a>
													</li>
											
											</ul>
										</div>
									</div>
							
						</div>
					</div>
				
						<div class="col-12 col-md-4 col-xl-3 d-none d-xl-block">
							<div class="footer-link">
								<h5 class="footer-link-title">
									Tuyển dụng
								</h5>
								<ul class="list-link">
								
										<li class="link-item">
											<a href="https://tuyendung.vietcombank.com.vn/Views/NewsWork/co-hoi-nghe-nghiep.aspx" class="link">
												Thông tin tuyển dụng
											</a>
										</li>
								
								</ul>
							</div>
						</div>
				
				</div>
			</div>
		</div>
		<div class="ft-bot">
			<div class="container d-flex align-items-center flex-column-reverse flex-md-row">
				<ul class="menu-link-ft d-flex">
				
						<li>
							<a href="https://emarketing.vietcombank.com.vn/Email/View/Email/Register/PreRegUnreg.aspx">
								Đăng k&#253;/từ chối Email quảng c&#225;o
							</a>
						</li>
				
						<li>
							<a href="/Pages/dang-ky-nhan-email.aspx">
								Đăng k&#253; nhận th&#244;ng tin tỷ gi&#225;
							</a>
						</li>
				
						<li>
							<a href="https://mail.vietcombank.com.vn/">
								Vietcombank Web Mail
							</a>
						</li>
				
					<li>
						<a href="#">
							© 2019 Vietcombank
						</a>
					</li>
				</ul>
				<ul class="social-list-link d-flex align-items-center">
					<li>
						<h5>Hãy kết nối với chúng tôi</h5>
					</li>
					<li class="social-link">
						<a href="https://www.facebook.com/ilovevcb/" target="_blank">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					</li>
					<li class="social-link">
						<a href="https://www.youtube.com/channel/UCinEvBpZOHWfjvfb7DcEFPg" target="_blank" >
							<i class="fa fa-youtube-square" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
</div>