<div class="v-loading-page">
    <div class="v-loading-page__dots">
        <div class="v-loading-page__dot v-loading-page__dot--first"></div>
        <div class="v-loading-page__dot v-loading-page__dot--second"></div>
        <div class="v-loading-page__dot v-loading-page__dot--third"></div>
    </div>
    <h2 class="v-loading-page__title">
        Please wait...
    </h2>
</div>